.commentDeletePage {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.warning {
  color: #d9534f;
  font-size: 16px;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.delete-buttonCs {
  background-color: #ff0800;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-button {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
