.containerForm {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 12px;
  min-width: 50%;
  text-align: center;
  border: #111 1px solid;
}

.heading {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: #222;
}

.textarea {
  min-width: 80%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1rem;
  min-height: 90px;
  resize: vertical;
  margin-bottom: 15px;
  outline: none;
  transition: border 0.25s ease;
}

.textarea:focus {
  border-color: #666;
}

.submit-button {
  background-color: #111;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  transition: background 0.25s ease;
}

.submit-button:hover {
  background-color: #333;
}

.error {
  color: #b30000;
  font-weight: 600;
  margin-top: 10px;
}
